In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('data/psi.csv', names=['GRADE', 'PSI', 'TUCE', 'GPA'])
data.describe()

           GRADE        PSI       TUCE        GPA
count  32.000000  32.000000  32.000000  32.000000
mean    0.343750   0.437500  21.937500   3.117188
std     0.482559   0.504016   3.901509   0.466713
min     0.000000   0.000000  12.000000   2.060000
25%     0.000000   0.000000  19.750000   2.812500
50%     0.000000   0.000000  22.500000   3.065000
75%     1.000000   1.000000  25.000000   3.515000
max     1.000000   1.000000  29.000000   4.000000

In [7]:
data[:10]

   GRADE  PSI  TUCE   GPA
0      0    0    20  2.66
1      0    0    22  2.89
2      0    0    24  3.28
3      0    0    12  2.92
4      1    0    21  4.00
5      0    0    17  2.86
6      0    0    17  2.76
7      0    0    21  2.87
8      0    0    25  3.03
9      1    0    29  3.92

In [6]:
import statsmodels.api as sm

X = data.drop('GRADE', axis=1).values
y = data.GRADE
X = sm.add_constant(X)
X

array([[ 1.  ,  0.  , 20.  ,  2.66],
       [ 1.  ,  0.  , 22.  ,  2.89],
       [ 1.  ,  0.  , 24.  ,  3.28],
       [ 1.  ,  0.  , 12.  ,  2.92],
       [ 1.  ,  0.  , 21.  ,  4.  ],
       [ 1.  ,  0.  , 17.  ,  2.86],
       [ 1.  ,  0.  , 17.  ,  2.76],
       [ 1.  ,  0.  , 21.  ,  2.87],
       [ 1.  ,  0.  , 25.  ,  3.03],
       [ 1.  ,  0.  , 29.  ,  3.92],
       [ 1.  ,  0.  , 20.  ,  2.63],
       [ 1.  ,  0.  , 23.  ,  3.32],
       [ 1.  ,  0.  , 23.  ,  3.57],
       [ 1.  ,  0.  , 25.  ,  3.26],
       [ 1.  ,  0.  , 26.  ,  3.53],
       [ 1.  ,  0.  , 19.  ,  2.74],
       [ 1.  ,  0.  , 25.  ,  2.75],
       [ 1.  ,  0.  , 19.  ,  2.83],
       [ 1.  ,  1.  , 23.  ,  3.12],
       [ 1.  ,  1.  , 25.  ,  3.16],
       [ 1.  ,  1.  , 22.  ,  2.06],
       [ 1.  ,  1.  , 28.  ,  3.62],
       [ 1.  ,  1.  , 14.  ,  2.89],
       [ 1.  ,  1.  , 26.  ,  3.51],
       [ 1.  ,  1.  , 24.  ,  3.54],
       [ 1.  ,  1.  , 27.  ,  2.83],
       [ 1.  ,  1.  , 17.  ,  3.39],
       [ 1.  ,  1.  , 24.  ,  2.67],
       [ 1.  ,  1.  , 21.  ,  3.65],
       [ 1.  ,  1.  , 23.  ,  4.  ],
       [ 1.  ,  1.  , 21.  ,  3.1 ],
       [ 1.  ,  1.  , 19.  ,  2.39]])

Calculate manually

In [37]:
from scipy.optimize import fmin

def sig(x):
    return np.exp(x)/(1+np.exp(x))

def predict(beta, x):
    return sig(np.dot(x, beta))

EPS = np.finfo(float).eps  # numerics is fun
def negloglikelihood(beta):
    return -np.sum(y*np.log(predict(beta, X) + EPS) + (1-y)*np.log(1-predict(beta, X) + EPS))
         
n, p = X.shape                 
beta0 = np.zeros(p)

beta_hat = fmin(negloglikelihood, beta0) 

beta_hat

Optimization terminated successfully.
         Current function value: 12.889634
         Iterations: 453
         Function evaluations: 755

array([-13.02131544,   2.37868517,   0.09515819,   2.82610102])

Using Statsmodels

In [39]:
res = sm.GLM(y, X, family=sm.families.Binomial()).fit()
beta_hat2 = res.params

print(negloglikelihood(beta_hat2))
print(beta_hat2)

12.889634222131402
const   -13.021347
x1        2.378688
x2        0.095158
x3        2.826113
dtype: float64